@import "/src/styles/utils/colors";

.ProfilePage {
  height: 100vh;

  .profileWrapper {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr;
    .profileContainer {
      grid-template-areas:
        "header header"
        "left left";
      .profileContent {
        display: flex;
        justify-content: space-between;
        .profileContentLeft, .profileContentRight {
          display: flex;
          flex-direction: column;
          gap: 32px;
        }
      }
    }
  }
}
