@import "/src/styles/utils/colors";

.Sidebar {
  width: 100%;
  height: 100%;
  background-color: $primeColor;
  background: linear-gradient(
    180deg,
    rgba(25, 41, 124, 1) 0%,
    rgba(7, 11, 33, 1) 100%
  );
  color: $invertedTextColor;
  padding:  30px; //? 30-10
  padding-right: 0;
  .sidebar_logo {
    width: 232px; //? 232-120
    margin-bottom: 60px; //? 120-60
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 26px;
    li {
      font-size: calc(0.1vw + 19.5px); //? 22 | 20
      line-height: 125%;
      list-style: none;
      a {
        color: $invertedTextColor;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 25px; //? 25-20
        padding: 20px; //? 20-15
        border-radius: 10px 0 0 10px;
        transition: 300ms cubic-bezier(0, 0, 0.2, 1);

        svg {
          width: 23px;
          fill: $invertedTextColor;
          stroke: 2;
        }
  
        &:hover {
          text-decoration: none;
          background-color: $primeColorLight;
        }
  
        &:active {
          background-color: $bgc;
          color: $primeColor;
          svg {
            fill: $primeColor;
          }
        }
  
        &._active {
          background-color: $bgc;
          color: $primeColor;
          box-shadow: 0 0 10px $bgc;
          svg {
            fill: $primeColor;
          }
        }
      }
    }
    
  }
  
}